<% include ../partials/headerUser.ejs %>

<div class="container mx-auto mt-4 pb-">
  <div class="container">
    <h1 class="display-4">Choose one of the products below</h1>
  </div>

  <hr class="my-5">
  <% if (err !== null) { %>
  <%- include('../partials/errorAlert.ejs', {err: err}) %>
  <% } %>

  <!-- all products -->
  <div class="container">

    <div class="form-group">
      <form method="POST" action="buy">
        <select name="product" class="form-control">
          <% for (let i in products) {%>
      
          <option value="<%= products[i].id %>">
            <%= productText(products[i]) %>
          </option>
      
          <%} %>
        </select>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>

<% include ../partials/footer.ejs %>